# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Visual Studio Stuff
*.pdb
*.projdata
*.suo
*.ilk
*.pch
*.idb
*.clw
*.aps
*.plg
*.ncb
*.proj.*.user
*.proj.user
*.positions

